
a {
    color: #46A2DB;
    /*font-family: 'Slabo', serif;*/
}

h1,
h2,
h3,
h4{
    /*font-family: 'Slabo', serif;*/
}

p{
    color: #000;
}

body {
    /*font-family: "Times-New-Roman";*/
    /*font-family: 'Slabo 27px', serif;*/
}

.navbar-custom a{
    color: #46A2DB;
}

/***************************************
            Background colors 
****************************************/
.greenBackground{
    background-color: #3FD496;
}

.blueBackground {
    /*background-color: #5ABDFA;*/
    background-color: #46A2DB;
    padding-bottom: 100px;
}

.whiteBackground{
    background-color: #fff;
    color: #fff;
    padding-bottom: 200px;
}

.greyBackground{
    background-color: #e7e7e7;
    padding-bottom: 100px;
}

.contactBackground{
    background-color: #fff;
    color: #fff;
}

/***************************************
            Background padding
****************************************/

.aboutMepaddding {
    padding-top: 200px;
}

.footerBackground{
    padding-bottom: 500px;
}

/***************************************
    Colors on the image buttons 
****************************************/
.blueBtn{
    color: #09f;
    background-color: #fff;
}

/***************************************
    Color on text 
****************************************/

.blackText {
    color: #000;
}

.italic {
    font-style: italic;
}

.blueText{
    color: #46A2DB;
}

.whiteText{
    color:#fff;
}

.text-muted {
    color: #000;
}

/***************************************
     Bootrstrap customizations 
****************************************/
.modal-content{
    background-color: #fff;
}
.intro {
    background-color: #46A2DB;
}

.navbar-custom{
    background-color: #46A2DB;
    background-color: transparent;   
}


ul.social-buttons li a {
    /*color: #42dca3;*/
    /*background-color: #fff;*/
    
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    /*background-color: #222;*/
    background-color: #46A2DB;
}


/* btn */
.btn-default {
    border: 1px solid #46A2DB;
    color: #46A2DB;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #46A2DB;
    background-color: #46A2DB;
}

.navbar-custom .nav li.active a {
    color: #46A2DB;
}


/*********************************************************/

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(95,95,95,.5);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box{
    border: 1px black solid;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

