
a {
    color: #46A2DB;
}

p{
    color: #000;
}
/* Background colors */
.greenBackground{
    background-color: #3FD496;
}

.blueBackground {
    /*background-color: #5ABDFA;*/
    background-color: #46A2DB;
    padding-bottom: 100px;
}

.whiteBackground{
    background-color: #fff;
    color: #fff;
    padding-bottom: 200px;
}

.contactBackground{
    background-color: #fff;
    color: #fff;
}

.footerBackground{
    padding-bottom: 500px;
}

/* Colors on the image buttons */
.blueBtn{
    color: #09f;
    background-color: #fff;
}

/* Color on text */

.blackText {
    color: #000;
}


.blueText{
    color: #46A2DB;
}

.text-muted {
    color: #000;
}

/* Changes */ 
.modal-content{

    /*background-color: #46A2DB;*/
    background-color: #fff;
}
.intro {
    background-color: #46A2DB;
}

.navbar-custom{
    background-color: #46A2DB;   
}


ul.social-buttons li a {
    /*color: #42dca3;*/
    /*background-color: #fff;*/
    
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    /*background-color: #222;*/
    background-color: #46A2DB;
}


/* btn */
.btn-default {
    border: 1px solid #46A2DB;
    color: #46A2DB;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #46A2DB;
    background-color: #46A2DB;
}

.navbar-custom .nav li.active a {
    color: #46A2DB;
}